{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}User: {{ request.user.username }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-6">
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary" type="Browse" name="action">{% trans "Visit" %}</button>
        </form>
      </div>
    </div>
  </div>


  {% if last_url %}
    <p>Your last {{ last_url|length }} visited site</p>
    {% for url in last_url %}
      <li>{{ url.url }}</li>
    {% endfor %}
  {% else %}
    <p>No site visited by you</p>
  {% endif %}

{% endblock content %}







